// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat {
	p {
		font-size: 18px;
		text-align: left;
	}
}

#answer {
	background-color: bisque;
}

.container {
	width: 350px;
	padding: 10px;
	margin: auto;
}

.btn:hover {
	text-decoration: none;
	color: white;
}